.forgot-submit{
    text-align: center;
    margin-top: 1.7rem;
}

.forgot-submit button{
    background-image: linear-gradient(to right, #5984D2 0%, #495aff 100%);
    padding: 0.9rem;
    width: 100%;
    color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 1.1rem;
    border: none;
}

.reset-mesage{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
}

.forgot{
    color: #5984D2;
    margin-bottom: 1.4rem !important;
    font-size: 2.15rem;
}